html,
body{
    padding:0;
    margin: 0;
}
.main{
    padding: 10px;
}
.editor{
    position: relative;
    border: solid 1px black;

    font-family: Monaco,"Menlo","Courier New",monospace;
    font-size: 14px;
    overflow-x:hidden;
    overflow-y:auto; 

    background-color: #eee;



}
.editor .line-num{
    float: left;
    width: 35px;
    text-align: right;


}
.editor .line-num .error{
    background-color:coral;
}
.editor .source{
    margin-left: 40px;
    position: relative;
    background-color: #fff;
    cursor:text;

}

.editor .text,.editor .hightlight{
    display: block;
    width: 100%;
    border: none;
    position:relative;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;

    z-index: 0;

}
.editor .hightlight{
    display: block;
    width: 100%;
    border: none;

    top:0px;
    left:0px;
    width: 100%;
    height:100%;

    z-index: 0;

}

.editor .text .full-char-width{
    display: inline-block;
    text-align: center;
}
.editor .input{
    display: block;
    width: 10px;
    border: solid  1px blue;
    position: absolute;
    top:280px;
    left:0px;
    height:16px;
    z-index: 0;
    opacity:0;
}
.editor .cursor{
    position: absolute;
    top:0;
    left:0;
    width: 10px;
    height: 16px;
    border-left: solid 2px black;
    visibility:hidden;

}
.editor .selection .range{
    background-color:lightblue;
    position: absolute;
    top:0;
    left:0;
}
.editor .show{
    visibility:visible;
}
.log{

    border: solid 1px blue;

}
/* heightLight*/
.keyword{
    color:blue;
}
.name{

}
.string{
    color:goldenrod;
}
.comment{
    color:grey;
}
.cmd{
    border: solid 1px #ccc;
    height: 20px;
    width: 100%;
}
#report{
    border: solid 1px #ccc;
    height: 100px;
    color:red;
    overflow: auto;
    width: 100%;
}

.error-popup{
    position: absolute;
    top:0;
    left:50px;
    display: none;
    width: 300px;
    height: 100px;
    border: solid 1px #333;
    background-color:#fff;
    white-space:nowrap;
    overflow: auto;
    line-height: 20px;

}
.menu{
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.menu ul{
    list-style-type: none;
}
.menu li{
    list-style-type: none;
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    border: solid 1px #333;
    height: 20px;
    line-height: 20px;
    text-align:center;
  
    width: 100px;
    margin-right: 10px;
    overflow: hidden;
    
}
.menu a{
      text-decoration: none;
}
.menu a:visited{
    color: #333;
}
.menu .open{
    position: relative;
}
.menu input{
    position: absolute;
    top:0;
    left:0;
    height: 20px;
    width:100px;
    opacity:0;
    cursor:pointer;
}